<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249020684030-obj43regml0veind5p5no81c07damcn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249020684030-obj43regml0veind5p5no81c07damcn7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgGr7FLWdU0l-hZhbvl6Jlcoi1ezOA_g</string>
	<key>GCM_SENDER_ID</key>
	<string>249020684030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.samaritan.network</string>
	<key>PROJECT_ID</key>
	<string>refugee-app-aba05</string>
	<key>STORAGE_BUCKET</key>
	<string>refugee-app-aba05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:249020684030:ios:6c22a649b6fed0f6bb77af</string>
</dict>
</plist>
